body {
    height: 100vh;
}

#videoPlayer {
    margin: auto;
    padding: 0;
    object-fit: contain;
    display: block;
    height: 100%;
    max-width: 100%;
    /* height: 80vh; */
}

#videoContainer {
    height: 80%;
    max-width: 100vw;
    display: flex;
    background-color: black;
}