body, html {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: rgb(40, 30, 50);
}

* {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5rem;
}

/* div {
    padding: 0 !important;
    margin: 0 !important;
} */

a:not(h1 > a):not(.videoLink) {
    font-size: 1.5rem;
    background-color: black;
    padding: 8px;
    margin: 5px;
    border: 2px white solid;
    border-radius: 15px;
    color: rgb(240, 220, 255);
    text-decoration: none;
}

.videoLink {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

*:not(input) {
    text-align: center;
}

#title {
    padding: 10px;
}

#titleBar {
    width: 100vw;
    background-color: rgb(5, 0, 10);
    /* border: 0px; */
    border: 2px transparent solid;
    border-bottom-color: white;
    position: sticky;
    top: 0px;
    margin: 0;
    padding: 0;
}

#titleBar > div > * {
    display: inline-block;
    padding: 0;
    margin: 0;
}

#titleBar > div > form > input {
    /* text-align: right; */
    margin: auto;
    padding: 5px;
    width: 100%;
    background-color: rgb(10, 5, 15);
    border: 2px gray solid;
}

#titleBar > div {
    padding: 0;
    margin: 0;
}

#titleBar > div > form {
    display: inline-block;
    width: 100%;
}

#titleBar > div > h1 > a {
    text-decoration: none;
    color: white;
}

#description {
    background-color: rgb(12, 10, 15);
    padding: 10px;
    border: 2px gray solid;
}

#videoPlayer {
    margin: auto;
    padding: 0;
    object-fit: contain;
    display: block;
    /* height: 100%;
    max-width: 100%; */
    width: 100%;
    aspect-ratio: 1.8/1;
    max-height: 80vh;
    /* height: 80vh; */
}

#videoContainer {
    max-width: 100vw;
    display: flex;
    background-color: black;
}

p {
    padding: 5px;
}

.videoResult {
    background-color: black;
    border: 2px gray solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: left;
}

img {
    width: 70%;
}

.minipfp {
    width: 60px;
    height: 60px;
    border: 2px white solid;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}